/*start 腾讯初始化代码*/
			html {overflow-y:scroll;} 
			body {margin:0; padding:29px00; font:12px"\5B8B\4F53",sans-serif;background:#ffffff;} 
			div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;} 
			table,td,tr,th{font-size:12px;} 
			li{list-style-type:none;} 
			img{vertical-align:top;border:0;} 
			ol,ul {list-style:none;} 
			address,cite,code,em,th {font-weight:normal; font-style:normal;} 
/*end  腾讯初始化代码*/
			


/*日志文章简介*/
.article{background:rgba(255,255,255,0.5);border-radius: 3px;padding: 10px;margin-bottom: 20px;}
.article_title{font-size: 25px;}/*文章标题*/
.article_content{margin-top: 10px;background: #FFFFFF;}
.article_bottom{margin-top:10px;color: #963C3C;}

/*分隔线*/
.split_line{background-image: url(../img/h_line.jpg);}